{% extends "base.html" %}

{% block content %}
    <h1>User Signup</h1>
    <form method='POST'>
        <table>
            <tr>
                <td>
                    <label>Username</label>
                </td>
                <td>
                    <input name="username" value="" type="text"/>
                    <span class="error">{{username_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input name="password" value="" type="password"/>
                    <span class="error">{{pw1_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Verify Password</label>
                </td>
                <td>
                    <input name="verify" value="" type="password"/>
                    <span class="error">{{pw2_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email (optional)</label>
                </td>
                <td>
                    <input name="email" value="" type="text"/>
                    <span class="error">{{email_error}}</span>
                </td>
            </tr>
        </table>
        <input type="submit"/>
    </form>
{% endblock %}